/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.header {
  .logo {
    float: left;
    height: 50px;
    width: 80px;
    margin-right: 20px;
  }
}

form {
  .error {
    label,
    input,
    select {
      border-color: red;
    }
  }
  .error ~ .error-message {
    font-size: 12px;
    color: red;
  }

}

.list {
  .list-show,
  .list-delete {
    span {
      position: relative;
      top: 3px;
    }
  }
}
.custom-carousel {
  ul {
    overflow: hidden;
    position: relative;
    width: auto;

    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;

    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -o-box;
    display: box;

    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;

    li {
      margin-right: 10px;
      max-width: 180px;
    }
  }
}
