<div class="row my-3 header">
  <div class="col-9">
    <%= image_tag asset_path('book-logo-crop.jpg'), class: 'logo', alt: 'Logo' %>
    <h1>Gerenciador de Livros</h1>
  </div>
  <div class="col-3 text-end py-1">
    <p class="m-0"><%= current_user.name %></p>
    <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'btn btn-link p-0' %>
  </div>
</div>
